In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# Open the file
tourney_csv = "MNCAATourneyDetailedResults.csv"
tourney_df = pd.read_csv(tourney_csv)

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [3]:
# Add a column to designate tournament game
tourney_df['GameType'] = 'Tournament'

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameType
0,2003,134,1421,92,1411,84,N,1,32,69,...,14,31,17,28,16,15,5,0,22,Tournament
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,7,8,26,12,17,10,3,15,Tournament
2,2003,136,1113,84,1272,71,N,0,31,59,...,14,21,20,22,11,12,2,5,18,Tournament
3,2003,136,1141,79,1166,73,N,0,29,53,...,12,17,14,17,20,21,6,6,21,Tournament
4,2003,136,1143,76,1301,74,N,1,27,64,...,15,20,10,26,16,14,5,8,19,Tournament

In [4]:
# Import reg season results to make one df of all game records
# Open the file
reg_season_csv = "MRegularSeasonDetailedResults.csv"
reg_season_df = pd.read_csv(reg_season_csv)

reg_season_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [5]:
# Add a column to designate regular season game
reg_season_df['GameType'] = 'RegSeason'

reg_season_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameType
0,2003,10,1104,68,1328,62,N,0,27,58,...,16,22,10,22,8,18,9,2,20,RegSeason
1,2003,10,1272,70,1393,63,N,0,26,62,...,9,20,20,25,7,12,8,6,16,RegSeason
2,2003,11,1266,73,1437,61,N,0,24,58,...,14,23,31,22,9,12,2,5,23,RegSeason
3,2003,11,1296,56,1457,50,N,0,18,38,...,8,15,17,20,9,19,4,3,23,RegSeason
4,2003,11,1400,77,1208,71,N,0,30,61,...,17,27,21,15,12,10,7,1,14,RegSeason

In [6]:
# Get columns for concatenating the tables from the tourney df
tourney_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType'],
      dtype='object')

In [7]:
# Get columns for concatenating the tables from the reg season df
reg_season_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType'],
      dtype='object')

In [8]:
# Combine both tournament and reg season results
results_df = pd.concat([
        tourney_df[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType']],
        reg_season_df[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType']]
])

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameType
0,2003,134,1421,92,1411,84,N,1,32,69,...,14,31,17,28,16,15,5,0,22,Tournament
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,7,8,26,12,17,10,3,15,Tournament
2,2003,136,1113,84,1272,71,N,0,31,59,...,14,21,20,22,11,12,2,5,18,Tournament
3,2003,136,1141,79,1166,73,N,0,29,53,...,12,17,14,17,20,21,6,6,21,Tournament
4,2003,136,1143,76,1301,74,N,1,27,64,...,15,20,10,26,16,14,5,8,19,Tournament

In [9]:
# Confirm df lengths
print(len(tourney_df))
print(len(reg_season_df))
print(len(results_df))

1181
100423
101604

In [10]:
# Import the ranking file
rank_csv = "MMasseyOrdinals.csv"
ranking_df = pd.read_csv(rank_csv)

ranking_df.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [11]:
# Narrow down to just the SAG ranks (based on Shane's research that they have the most ranks)
SAG_ranks = ranking_df.loc[ranking_df['SystemName']=='SAG']

SAG_ranks.head()

      Season  RankingDayNum SystemName  TeamID  OrdinalRank
3622    2003             37        SAG    1102          114
3623    2003             37        SAG    1103          193
3624    2003             37        SAG    1104           11
3625    2003             37        SAG    1105          310
3626    2003             37        SAG    1106          257

In [12]:
# Add week number calculation for ranking and round up using numpy's ceiling function
SAG_ranks['WeekNum'] = (SAG_ranks['RankingDayNum']/7).apply(np.ceil)

SAG_ranks.head()

C:\Users\z002cr1\AppData\Local\Temp\1\ipykernel_32288\1465265135.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SAG_ranks['WeekNum'] = (SAG_ranks['RankingDayNum']/7).apply(np.ceil)

      Season  RankingDayNum SystemName  TeamID  OrdinalRank  WeekNum
3622    2003             37        SAG    1102          114      6.0
3623    2003             37        SAG    1103          193      6.0
3624    2003             37        SAG    1104           11      6.0
3625    2003             37        SAG    1105          310      6.0
3626    2003             37        SAG    1106          257      6.0

In [13]:
# Add a Season-Week-Team column for merging with results df
SAG_ranks['Season-Week-Team'] = SAG_ranks['Season'].map(str) + '-' + SAG_ranks['WeekNum'].map(str) + '-' + SAG_ranks['TeamID'].map(str)

SAG_ranks.head()

C:\Users\z002cr1\AppData\Local\Temp\1\ipykernel_32288\1598262549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SAG_ranks['Season-Week-Team'] = SAG_ranks['Season'].map(str) + '-' + SAG_ranks['WeekNum'].map(str) + '-' + SAG_ranks['TeamID'].map(str)

,Season,RankingDayNum,SystemName,TeamID,OrdinalRank,WeekNum,Season-Week-Team
3622,2003,37,SAG,1102,114,6.0,2003-6.0-1102
3623,2003,37,SAG,1103,193,6.0,2003-6.0-1103
3624,2003,37,SAG,1104,11,6.0,2003-6.0-1104
3625,2003,37,SAG,1105,310,6.0,2003-6.0-1105
3626,2003,37,SAG,1106,257,6.0,2003-6.0-1106

In [14]:
# Add week number to results df so we can eventually pull rank from SAG df
results_df['WeekNum'] = (results_df['DayNum']/7).apply(np.ceil)

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameType,WeekNum
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,17,28,16,15,5,0,22,Tournament,20.0
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,8,26,12,17,10,3,15,Tournament,20.0
2,2003,136,1113,84,1272,71,N,0,31,59,...,21,20,22,11,12,2,5,18,Tournament,20.0
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,14,17,20,21,6,6,21,Tournament,20.0
4,2003,136,1143,76,1301,74,N,1,27,64,...,20,10,26,16,14,5,8,19,Tournament,20.0

In [15]:
# Replace tournament NaN with most recent season rankings
results_df['WeekNum'].values[results_df['WeekNum'].values > 19.0] = 19.0
  
results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameType,WeekNum
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,17,28,16,15,5,0,22,Tournament,19.0
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,8,26,12,17,10,3,15,Tournament,19.0
2,2003,136,1113,84,1272,71,N,0,31,59,...,21,20,22,11,12,2,5,18,Tournament,19.0
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,14,17,20,21,6,6,21,Tournament,19.0
4,2003,136,1143,76,1301,74,N,1,27,64,...,20,10,26,16,14,5,8,19,Tournament,19.0

In [16]:
# Add a WSeason-Week-Team and LSeason_Week-Team column for merging with SAG df
results_df['WSeason-Week-Team'] = results_df['Season'].map(str) + '-' + results_df['WeekNum'].map(str) + '-' + results_df['WTeamID'].map(str)

results_df['LSeason-Week-Team'] = results_df['Season'].map(str) + '-' + results_df['WeekNum'].map(str) + '-' + results_df['LTeamID'].map(str)

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team
0,2003,134,1421,92,1411,84,N,1,32,69,...,28,16,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411
1,2003,136,1112,80,1436,51,N,0,31,66,...,26,12,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436
2,2003,136,1113,84,1272,71,N,0,31,59,...,22,11,12,2,5,18,Tournament,19.0,2003-19.0-1113,2003-19.0-1272
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,20,21,6,6,21,Tournament,19.0,2003-19.0-1141,2003-19.0-1166
4,2003,136,1143,76,1301,74,N,1,27,64,...,26,16,14,5,8,19,Tournament,19.0,2003-19.0-1143,2003-19.0-1301

In [17]:
# Merge rankings for winning team into the original results_df
results_df = results_df.merge(SAG_ranks[['Season-Week-Team','OrdinalRank']], how='left', left_on='WSeason-Week-Team', right_on='Season-Week-Team')

results_df.tail(50)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,Season-Week-Team,OrdinalRank
109144,2022,97,1103,71,1275,59,A,0,22,42,...,10,8,1,19,RegSeason,14.0,2022-14.0-1103,2022-14.0-1275,2022-14.0-1103,149.0
109145,2022,97,1145,77,1264,70,H,0,24,56,...,15,6,3,25,RegSeason,14.0,2022-14.0-1145,2022-14.0-1264,2022-14.0-1145,282.0
109146,2022,97,1156,84,1454,71,H,0,29,59,...,7,2,3,18,RegSeason,14.0,2022-14.0-1156,2022-14.0-1454,2022-14.0-1156,182.0
109147,2022,97,1222,80,1153,58,A,0,32,60,...,10,6,3,12,RegSeason,14.0,2022-14.0-1222,2022-14.0-1153,2022-14.0-1222,5.0
109148,2022,97,1234,71,1278,59,H,0,29,65,...,9,4,4,9,RegSeason,14.0,2022-14.0-1234,2022-14.0-1278,2022-14.0-1234,20.0
109149,2022,97,1236,71,1453,55,H,0,29,51,...,11,5,1,13,RegSeason,14.0,2022-14.0-1236,2022-14.0-1453,2022-14.0-1236,265.0
109150,2022,97,1260,71,1283,62,A,0,26,49,...,9,4,2,12,RegSeason,14.0,2022-14.0-1260,2022-14.0-1283,2022-14.0-1260,39.0
109151,2022,97,1284,76,1346,63,A,0,26,65,...,17,7,3,23,RegSeason,14.0,2022-14.0-1284,2022-14.0-1346,2022-14.0-1284,136.0
109152,2022,97,1310,80,1233,71,H,0,29,57,...,9,4,3,16,RegSeason,14.0,2022-14.0-1310,2022-14.0-1233,2022-14.0-1310,229.0
109153,2022,97,1326,82,1268,67,H,0,30,59,...,9,5,0,13,RegSeason,14.0,2022-14.0-1326,2022-14.0-1268,2022-14.0-1326,21.0
109154,2022,97,1344,71,1207,52,A,0,23,51,...,16,11,4,16,RegSeason,14.0,2022-14.0-1344,2022-14.0-1207,2022-14.0-1344,37.0
109155,2022,97,1361,65,1305,63,H,0,21,52,...,14,4,4,22,RegSeason,14.0,2022-14.0-1361,2022-14.0-1305,2022-14.0-1361,41.0
109156,2022,97,1373,62,1193,56,A,0,22,47,...,10,8,2,14,RegSeason,14.0,2022-14.0-1373,2022-14.0-1193,2022-14.0-1373,250.0
109157,2022,97,1389,66,1265,50,H,0,24,51,...,14,8,8,8,RegSeason,14.0,2022-14.0-1389,2022-14.0-1265,2022-14.0-1389,186.0
109158,2022,97,1390,87,1449,69,H,0,33,65,...,11,10,5,14,RegSeason,14.0,2022-14.0-1390,2022-14.0-1449,2022-14.0-1390,83.0
109159,2022,97,1461,61,1201,59,A,0,22,55,...,2,4,3,15,RegSeason,14.0,2022-14.0-1461,2022-14.0-1201,2022-14.0-1461,85.0
109160,2022,98,1108,79,1290,71,A,0,28,52,...,13,8,3,20,RegSeason,14.0,2022-14.0-1108,2022-14.0-1290,2022-14.0-1108,275.0
109161,2022,98,1112,91,1113,79,A,0,34,60,...,13,12,4,21,RegSeason,14.0,2022-14.0-1112,2022-14.0-1113,2022-14.0-1112,4.0
109162,2022,98,1125,72,1122,58,H,0,27,50,...,13,3,2,11,RegSeason,14.0,2022-14.0-1125,2022-14.0-1122,2022-14.0-1125,59.0
109163,2022,98,1150,81,1198,68,A,0,31,60,...,11,3,1,10,RegSeason,14.0,2022-14.0-1150,2022-14.0-1198,2022-14.0-1150,196.0
109164,2022,98,1151,74,1273,72,A,1,29,59,...,8,5,3,17,RegSeason,14.0,2022-14.0-1151,2022-14.0-1273,2022-14.0-1151,72.0
109165,2022,98,1159,87,1221,60,H,0,34,59,...,12,8,1,16,RegSeason,14.0,2022-14.0-1159,2022-14.0-1221,2022-14.0-1159,150.0
109166,2022,98,1180,72,1241,66,H,0,21,49,...,14,6,1,26,RegSeason,14.0,2022-14.0-1180,2022-14.0-1241,2022-14.0-1180,156.0
109167,2022,98,1190,75,1202,71,H,0,23,46,...,7,5,5,20,RegSeason,14.0,2022-14.0-1190,2022-14.0-1202,2022-14.0-1190,172.0
109168,2022,98,1197,61,1341,60,H,0,23,53,...,12,8,0,13,RegSeason,14.0,2022-14.0-1197,2022-14.0-1341,2022-14.0-1197,319.0
109169,2022,98,1212,58,1105,50,H,0,22,54,...,14,7,5,15,RegSeason,14.0,2022-14.0-1212,2022-14.0-1105,2022-14.0-1212,317.0
109170,2022,98,1214,74,1342,69,H,0,25,54,...,6,7,4,18,RegSeason,14.0,2022-14.0-1214,2022-14.0-1342,2022-14.0-1214,330.0
109171,2022,98,1220,73,1423,71,H,0,28,67,...,10,7,5,15,RegSeason,14.0,2022-14.0-1220,2022-14.0-1423,2022-14.0-1220,121.0
109172,2022,98,1224,69,1175,64,A,0,21,53,...,16,8,8,19,RegSeason,14.0,2022-14.0-1224,2022-14.0-1175,2022-14.0-1224,258.0
109173,2022,98,1238,60,1115,47,A,0,23,53,...,10,6,2,11,RegSeason,14.0,2022-14.0-1238,2022-14.0-1115,2022-14.0-1238,296.0
109174,2022,98,1262,85,1216,75,H,0,32,58,...,11,5,4,17,RegSeason,14.0,2022-14.0-1262,2022-14.0-1216,2022-14.0-1262,268.0
109175,2022,98,1285,78,1381,67,H,0,25,56,...,12,4,1,18,RegSeason,14.0,2022-14.0-1285,2022-14.0-1381,2022-14.0-1285,177.0
109176,2022,98,1286,72,1226,54,A,0,27,49,...,12,5,4,22,RegSeason,14.0,2022-14.0-1286,2022-14.0-1226,2022-14.0-1286,153.0
109177,2022,98,1292,84,1427,75,H,0,29,54,...,11,7,1,18,RegSeason,14.0,2022-14.0-1292,2022-14.0-1427,2022-14.0-1292,164.0
109178,2022,98,1294,82,1319,60,H,0,30,61,...,6,2,1,12,RegSeason,14.0,2022-14.0-1294,2022-14.0-1319,2022-14.0-1294,187.0
109179,2022,98,1295,76,1377,74,H,0,26,56,...,7,1,1,22,RegSeason,14.0,2022-14.0-1295,2022-14.0-1377,2022-14.0-1295,154.0
109180,2022,98,1298,68,1248,44,H,0,28,61,...,14,6,3,10,RegSeason,14.0,2022-14.0-1298,2022-14.0-1248,2022-14.0-1298,157.0
109181,2022,98,1306,67,1392,65,A,0,25,56,...,8,7,6,19,RegSeason,14.0,2022-14.0-1306,2022-14.0-1392,2022-14.0-1306,244.0
109182,2022,98,1317,66,1431,58,H,0,23,45,...,19,5,2,20,RegSeason,14.0,2022-14.0-1317,2022-14.0-1431,2022-14.0-1317,87.0
109183,2022,98,1350,62,1206,59,H,0,22,56,...,15,2,2,14,RegSeason,14.0,2022-14.0-1350,2022-14.0-1206,2022-14.0-1350,80.0
109184,2022,98,1354,74,1300,68,H,0,27,53,...,17,10,1,22,RegSeason,14.0,2022-14.0-1354,2022-14.0-1300,2022-14.0-1354,344.0
109185,2022,98,1369,76,1188,47,A,0,21,56,...,15,6,2,25,RegSeason,14.0,2022-14.0-1369,2022-14.0-1188,2022-14.0-1369,287.0
109186,2022,98,1378,52,1396,49,H,0,20,55,...,16,6,5,19,RegSeason,14.0,2022-14.0-1378,2022-14.0-1396,2022-14.0-1378,213.0
109187,2022,98,1380,72,1106,58,H,0,26,70,...,16,7,6,15,RegSeason,14.0,2022-14.0-1380,2022-14.0-1106,2022-14.0-1380,232.0
109188,2022,98,1399,84,1183,58,H,0,31,56,...,14,6,0,9,RegSeason,14.0,2022-14.0-1399,2022-14.0-1183,2022-14.0-1399,285.0
109189,2022,98,1400,79,1242,76,H,0,28,67,...,15,3,5,21,RegSeason,14.0,2022-14.0-1400,2022-14.0-1242,2022-14.0-1400,16.0
109190,2022,98,1411,66,1126,63,A,0,24,59,...,19,13,2,23,RegSeason,14.0,2022-14.0-1411,2022-14.0-1126,2022-14.0-1411,194.0
109191,2022,98,1422,68,1441,49,A,0,23,56,...,16,8,2,12,RegSeason,14.0,2022-14.0-1422,2022-14.0-1441,2022-14.0-1422,179.0
109192,2022,98,1438,69,1181,68,A,0,31,65,...,14,3,9,11,RegSeason,14.0,2022-14.0-1438,2022-14.0-1181,2022-14.0-1438,69.0
109193,2022,98,1439,74,1338,47,H,0,29,55,...,11,3,6,14,RegSeason,14.0,2022-14.0-1439,2022-14.0-1338,2022-14.0-1439,40.0

In [18]:
# Drop unnecessary Season-Week_Team column
results_df.drop('Season-Week-Team',axis=1, inplace=True)

results_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LAst,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,OrdinalRank
0,2003,134,1421,92,1411,84,N,1,32,69,...,16,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0
1,2003,134,1421,92,1411,84,N,1,32,69,...,16,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0
2,2003,136,1112,80,1436,51,N,0,31,66,...,12,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0
3,2003,136,1112,80,1436,51,N,0,31,66,...,12,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,2.0
4,2003,136,1113,84,1272,71,N,0,31,59,...,11,12,2,5,18,Tournament,19.0,2003-19.0-1113,2003-19.0-1272,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109189,2022,98,1400,79,1242,76,H,0,28,67,...,10,15,3,5,21,RegSeason,14.0,2022-14.0-1400,2022-14.0-1242,16.0
109190,2022,98,1411,66,1126,63,A,0,24,59,...,10,19,13,2,23,RegSeason,14.0,2022-14.0-1411,2022-14.0-1126,194.0
109191,2022,98,1422,68,1441,49,A,0,23,56,...,5,16,8,2,12,RegSeason,14.0,2022-14.0-1422,2022-14.0-1441,179.0
109192,2022,98,1438,69,1181,68,A,0,31,65,...,14,14,3,9,11,RegSeason,14.0,2022-14.0-1438,2022-14.0-1181,69.0
109193,2022,98,1439,74,1338,47,H,0,29,55,...,11,11,3,6,14,RegSeason,14.0,2022-14.0-1439,2022-14.0-1338,40.0

In [19]:
# Rename OrdinalRank column to indicate it is for the winning team
results_df.rename(columns={'OrdinalRank': 'WOrdinalRank'},inplace=True)

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LAst,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank
0,2003,134,1421,92,1411,84,N,1,32,69,...,16,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0
1,2003,134,1421,92,1411,84,N,1,32,69,...,16,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0
2,2003,136,1112,80,1436,51,N,0,31,66,...,12,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0
3,2003,136,1112,80,1436,51,N,0,31,66,...,12,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,2.0
4,2003,136,1113,84,1272,71,N,0,31,59,...,11,12,2,5,18,Tournament,19.0,2003-19.0-1113,2003-19.0-1272,29.0

In [20]:
# Merge rankings for losing team into the original results_df
results_df = results_df.merge(SAG_ranks[['Season-Week-Team','OrdinalRank']], how='left', left_on='LSeason-Week-Team', right_on='Season-Week-Team')

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,Season-Week-Team,OrdinalRank
0,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,2003-19.0-1411,262.0
1,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,2003-19.0-1411,257.0
2,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,2003-19.0-1411,262.0
3,2003,134,1421,92,1411,84,N,1,32,69,...,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,2003-19.0-1411,257.0
4,2003,136,1112,80,1436,51,N,0,31,66,...,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0,2003-19.0-1436,166.0

In [21]:
# Drop unnecessary Season-Week_Team column
results_df.drop('Season-Week-Team',axis=1, inplace=True)

results_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,OrdinalRank
0,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,262.0
1,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,257.0
2,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,262.0
3,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,257.0
4,2003,136,1112,80,1436,51,N,0,31,66,...,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124363,2022,98,1400,79,1242,76,H,0,28,67,...,15,3,5,21,RegSeason,14.0,2022-14.0-1400,2022-14.0-1242,16.0,6.0
124364,2022,98,1411,66,1126,63,A,0,24,59,...,19,13,2,23,RegSeason,14.0,2022-14.0-1411,2022-14.0-1126,194.0,342.0
124365,2022,98,1422,68,1441,49,A,0,23,56,...,16,8,2,12,RegSeason,14.0,2022-14.0-1422,2022-14.0-1441,179.0,289.0
124366,2022,98,1438,69,1181,68,A,0,31,65,...,14,3,9,11,RegSeason,14.0,2022-14.0-1438,2022-14.0-1181,69.0,11.0
124367,2022,98,1439,74,1338,47,H,0,29,55,...,11,3,6,14,RegSeason,14.0,2022-14.0-1439,2022-14.0-1338,40.0,145.0

In [22]:
# Rename OrdinalRank column to indicate it is for the losing team
results_df.rename(columns={'OrdinalRank': 'LOrdinalRank'},inplace=True)

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LTO,LStl,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank
0,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,262.0
1,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,257.0
2,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,262.0
3,2003,134,1421,92,1411,84,N,1,32,69,...,15,5,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,257.0
4,2003,136,1112,80,1436,51,N,0,31,66,...,17,10,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0,166.0

In [23]:
# Add column for % field goals made
results_df['WFG%'] = results_df['WFGM']/results_df['WFGA']
results_df['LFG%'] = results_df['LFGM']/results_df['LFGA']

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LBlk,LPF,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%
0,2003,134,1421,92,1411,84,N,1,32,69,...,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,262.0,0.463768,0.432836
1,2003,134,1421,92,1411,84,N,1,32,69,...,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,257.0,0.463768,0.432836
2,2003,134,1421,92,1411,84,N,1,32,69,...,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,262.0,0.463768,0.432836
3,2003,134,1421,92,1411,84,N,1,32,69,...,0,22,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,257.0,0.463768,0.432836
4,2003,136,1112,80,1436,51,N,0,31,66,...,3,15,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0,166.0,0.469697,0.312500

In [24]:
# Add column for % threes made
results_df['WFG3%'] = results_df['WFGM3']/results_df['WFGA3']
results_df['LFG3%'] = results_df['LFGM3']/results_df['LFGA3']

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,GameType,WeekNum,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%
0,2003,134,1421,92,1411,84,N,1,32,69,...,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,262.0,0.463768,0.432836,0.379310,0.387097
1,2003,134,1421,92,1411,84,N,1,32,69,...,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,252.0,257.0,0.463768,0.432836,0.379310,0.387097
2,2003,134,1421,92,1411,84,N,1,32,69,...,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,262.0,0.463768,0.432836,0.379310,0.387097
3,2003,134,1421,92,1411,84,N,1,32,69,...,Tournament,19.0,2003-19.0-1421,2003-19.0-1411,251.0,257.0,0.463768,0.432836,0.379310,0.387097
4,2003,136,1112,80,1436,51,N,0,31,66,...,Tournament,19.0,2003-19.0-1112,2003-19.0-1436,1.0,166.0,0.469697,0.312500,0.304348,0.250000

In [25]:
# Add a column for % FT made
results_df['WFT%'] = results_df['WFTM']/results_df['WFTA']
results_df['LFT%'] = results_df['LFTM']/results_df['LFTA']

results_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WSeason-Week-Team,LSeason-Week-Team,WOrdinalRank,LOrdinalRank,WFG%,LFG%,WFG3%,LFG3%,WFT%,LFT%
0,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
1,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,252.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
2,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,262.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
3,2003,134,1421,92,1411,84,N,1,32,69,...,2003-19.0-1421,2003-19.0-1411,251.0,257.0,0.463768,0.432836,0.379310,0.387097,0.653846,0.451613
4,2003,136,1112,80,1436,51,N,0,31,66,...,2003-19.0-1112,2003-19.0-1436,1.0,166.0,0.469697,0.312500,0.304348,0.250000,0.785714,1.000000

In [26]:
results_df.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'GameType', 'WeekNum', 'WSeason-Week-Team', 'LSeason-Week-Team',
       'WOrdinalRank', 'LOrdinalRank', 'WFG%', 'LFG%', 'WFG3%', 'LFG3%',
       'WFT%', 'LFT%'],
      dtype='object')

In [27]:
results_df['WOrdinalRank'].isna().sum()

8881

In [28]:
SAG_ranks['WeekNum'].max()

19.0

In [30]:
# Export results to csv
results_df.to_csv('detailed_all_game_results.csv', index=False)