In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Open the file
reg_season_csv = "MRegularSeasonDetailedResults.csv"
reg_season_df = pd.read_csv(reg_season_csv)

reg_season_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [3]:
# Add a column of W for winner
reg_season_df['OutcomeW'] = 'W'

reg_season_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,OutcomeW
0,2003,10,1104,68,1328,62,N,0,27,58,...,16,22,10,22,8,18,9,2,20,W
1,2003,10,1272,70,1393,63,N,0,26,62,...,9,20,20,25,7,12,8,6,16,W
2,2003,11,1266,73,1437,61,N,0,24,58,...,14,23,31,22,9,12,2,5,23,W
3,2003,11,1296,56,1457,50,N,0,18,38,...,8,15,17,20,9,19,4,3,23,W
4,2003,11,1400,77,1208,71,N,0,30,61,...,17,27,21,15,12,10,7,1,14,W

In [4]:
# Add a column of L for loser
reg_season_df['OutcomeL'] = 'L'

reg_season_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,OutcomeW,OutcomeL
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,10,22,8,18,9,2,20,W,L
1,2003,10,1272,70,1393,63,N,0,26,62,...,20,20,25,7,12,8,6,16,W,L
2,2003,11,1266,73,1437,61,N,0,24,58,...,23,31,22,9,12,2,5,23,W,L
3,2003,11,1296,56,1457,50,N,0,18,38,...,15,17,20,9,19,4,3,23,W,L
4,2003,11,1400,77,1208,71,N,0,30,61,...,27,21,15,12,10,7,1,14,W,L

In [6]:
# Stack winning and losing results using concatenate
season_results_df = pd.concat([
        reg_season_df[['Season','DayNum','WTeamID','WScore','OutcomeW','NumOT','WFGM','WFGA','WFGM3','WFGA3','WFTM','WFTA','WOR','WDR','WAst','WTO','WStl','WBlk','WPF']].rename(columns={
            'WTeamID':'TeamID', 'WScore':'Score','OutcomeW':'Outcome','WFGM':'FGM','WFGA':'FGA','WFGM3':'FGM3', 'WFGA3':'FGA3','WFTM':'FTM','WFTA':'FTA','WOR':'OR','WDR':'DR','WAst':'Ast','WTO':'TO','WStl':'Stl','WBlk':'Blk','WPF':'PF'}),
        reg_season_df[['Season','DayNum','LTeamID','LScore','OutcomeL','NumOT','LFGM','LFGA','LFGM3','LFGA3','LFTM','LFTA','LOR','LDR','LAst','LTO','LStl','LBlk','LPF']].rename(columns={
            'LTeamID':'TeamID', 'LScore':'Score','OutcomeL':'Outcome','LFGM':'FGM','LFGA':'FGA','LFGM3':'FGM3','LFGA3':'FGA3','LFTM':'FTM','LFTA':'FTA','LOR':'OR','LDR':'DR','LAst':'Ast','LTO':'TO','LStl':'Stl','LBlk':'Blk','LPF':'PF'})
])

# View df
season_results_df.head()

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
0,2003,10,1104,68,W,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,10,1272,70,W,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,11,1266,73,W,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,11,1296,56,W,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,11,1400,77,W,0,30,61,6,14,11,13,17,22,12,14,4,4,20