In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Open the file
tourney_csv = "MNCAATourneyDetailedResults.csv"
tourney_df = pd.read_csv(tourney_csv)

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [4]:
# Add a column of W for winner
tourney_df['OutcomeW'] = 'W'

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,OutcomeW
0,2003,134,1421,92,1411,84,N,1,32,69,...,14,31,17,28,16,15,5,0,22,W
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,7,8,26,12,17,10,3,15,W
2,2003,136,1113,84,1272,71,N,0,31,59,...,14,21,20,22,11,12,2,5,18,W
3,2003,136,1141,79,1166,73,N,0,29,53,...,12,17,14,17,20,21,6,6,21,W
4,2003,136,1143,76,1301,74,N,1,27,64,...,15,20,10,26,16,14,5,8,19,W

In [5]:
# Add a column of L for loser
tourney_df['OutcomeL'] = 'L'

tourney_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,OutcomeW,OutcomeL
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,17,28,16,15,5,0,22,W,L
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,8,26,12,17,10,3,15,W,L
2,2003,136,1113,84,1272,71,N,0,31,59,...,21,20,22,11,12,2,5,18,W,L
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,14,17,20,21,6,6,21,W,L
4,2003,136,1143,76,1301,74,N,1,27,64,...,20,10,26,16,14,5,8,19,W,L

In [18]:
# Stack winning and losing results using concatenate
results_df = pd.concat([
        tourney_df[['Season','DayNum','WTeamID','WScore','OutcomeW','NumOT','WFGM','WFGA','WFGM3','WFGA3','WFTM','WFTA','WOR','WDR','WAst','WTO','WStl','WBlk','WPF']].rename(columns={
            'WTeamID':'TeamID', 'WScore':'Score','OutcomeW':'Outcome','WFGM':'FGM','WFGA':'FGA','WFGM3':'FGM3', 'WFGA3':'FGA3','WFTM':'FTM','WFTA':'FTA','WOR':'OR','WDR':'DR','WAst':'Ast','WTO':'TO','WStl':'Stl','WBlk':'Blk','WPF':'PF'}),
        tourney_df[['Season','DayNum','LTeamID','LScore','OutcomeL','NumOT','LFGM','LFGA','LFGM3','LFGA3','LFTM','LFTA','LOR','LDR','LAst','LTO','LStl','LBlk','LPF']].rename(columns={
            'LTeamID':'TeamID', 'LScore':'Score','OutcomeL':'Outcome','LFGM':'FGM','LFGA':'FGA','LFGM3':'FGM3','LFGA3':'FGA3','LFTM':'FTM','LFTA':'FTA','LOR':'OR','LDR':'DR','LAst':'Ast','LTO':'TO','LStl':'Stl','LBlk':'Blk','LPF':'PF'})
])

# View df
results_df.tail()

,Season,DayNum,TeamID,Score,Outcome,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF
1176,2021,148,1425,66,L,0,24,62,4,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1276,49,L,0,20,51,3,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1222,59,L,0,21,55,6,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1417,90,L,1,34,59,8,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1211,70,L,0,25,49,5,17,15,21,1,16,16,14,4,3,17